<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="<%= guild.icon %>" alt="Image">
      </figure>
    </div>
    <div class="media-content">
      <div class="columns is-gapless">
        <div class="content column">
          <p>
            <strong><%= guild.guild_name %></strong> <small><%= guild.guild_id %></small>
          </p>
        </div>
          <a href="/<%= guild.guild_id %>/add_user" class="button">Add User</a>
          <a href="/<%= guild.guild_id %>/editor" class="button">Configurator</a>
          <a href="/<%= guild.guild_id %>/infractions" class="button">Infractions</a>
          <a href="/<%= guild.guild_id %>/permissions" class="button">Bot Permissions</a>

        </div>
      </div>
      <script>
        console.log('<%= JSON.stringify(guild) %>')
      </script>
    </div>
  </article>
</div>

